html{
  display: flex;
  justify-content: space-evenly;
}
.links{
  text-decoration: none;
  font-size: 10px;
  color: white;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  font-size: 10px;
  color: white;
}
#links{
  background-color:rgb(41, 190, 239);
}
#header{
  background-color: rgb(59, 59, 59);
}
#name{
  color: rgb(41, 190, 239)
}
#job-title{
  color:white;
}